.logo {
  float: left;
  width: 120px;
  height: 63px;
  margin: 0px 24px 0px -50px;
  background: rgba(255, 255, 255, 0.3);
  color: white;
  font-size: 2em;
  text-align: center;
}
.ant-row-rtl .logo {
  float: right;
  margin: 16px 0 16px 24px;
}
.site-layout-content {
  min-height: 280px;
  padding: 24px;
  background: #fff;
}
